/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* REMOVE VITE ROOT LIMIT */
#root {
  width: 100%;
}

/* Optional smooth appearance */
.app-container {
  animation: appFade 0.8s ease-in-out;
}

@keyframes appFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
